body {
  text-align: center;
  background-color: rgb(241, 232, 241);
}

#input {
  width: 80%;
  height: 30px;
  /* border-radius: px; */
  display: block;
  margin: auto;
  outline: none;
  padding: 10px;
  
}